<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body {
      background-image: url('https://plus.unsplash.com/premium_photo-1675644727129-9e2fbc03c500?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1044&q=80');
    }
    </style>
<body>
    <h1 style="background-color:rgb(10, 11, 12); color:white;">Course</h1><br>
    <button style="font-size:30px; background-color: black; color:white;">1. SSLC</button><br>
    <br>
    <button style="background-color:rgb(10, 11, 12); font-size:15px; color:white; margin-left: 80px;">School - Iqra National High School <br> Board - Karnataka Secondary School Board <br> Percentage - 84.64%  <br> Year Of Passing - 2016</button><br>
    <br>
    <br>
    <button style="font-size:30px; background-color: black; color:white;">2. P.U.C</button><br>
    <br>
    <button style="background-color:rgb(10, 11, 12); font-size:15px; color:white; margin-left: 80px;">College - National Religious Minority P.U. College<br> Board - Department of Pre University Karnataka Board <br> Percentage - 89.67%  <br> Year Of Passing - 2018</button><br>
    <br>
    <br>
    <button style="font-size:30px; background-color: black; color:white;">3. B.E (Computer Science & Engineering)</button><br>
    <br>
    <button style="background-color:rgb(10, 11, 12); font-size:15px; color:white; margin-left: 80px;">College - Khaja Bandanawaz College of Engineering <br> University - Visvesvaraya Technological University, Belgaum<br> Percentage - 83.00%  <br> Year Of Passing - 2022</button>



</body>
</html>