<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills</title>
    <style>
        div.container {
        text-align: center;
        padding: 200px 0;
}
body {
      background-image: url('https://source.unsplash.com/1900x1900/?coding,skills');
    }
    </style>
</head>

<body>
    <!--   HTML/CSS, Python, MySQL
•	AWS S3, EC2
•	Agile Methodology(JIRA)
•	AI/ML,ML Algorithms,Deep Learning, Python Libraries(Pandas, NumPY, Sci-kit learn, SciPy, Matplotlib, Seaborn),Data Analysis,Statsmodel, Tensorflow
•	Git/GitHub,Flask
•	NLP(TextBlob)
•	Knowledge of MLOps A360 platform.-->
<div class="container mt-3">
        <button style="font-size:30px; background-color: black; color:white;">HTML</button>
        <button style="font-size:30px; background-color: black; color:white;">CSS</button>
        <button style="font-size:30px; background-color: black; color:white;">Python</button><br>
        <br>
        <button style="font-size:30px; background-color: black; color:white;">MySQL</button>
        <button style="font-size:30px; background-color: black; color:white;">AWS</button>
        <button style="font-size:30px; background-color: black; color:white;">S3</button>
        <button style="font-size:30px; background-color: black; color:white;">EC2</button>
        <button style="font-size:30px; background-color: black; color:white;">Agile Methodology(JIRA)</button><br>
        <br>
        <button style="font-size:30px; background-color: black; color:white;">AI/ML</button>
        <button style="font-size:30px; background-color: black; color:white;">ML Algorithms</button>
        <button style="font-size:30px; background-color: black; color:white;">Deep Learning</button>
        <button style="font-size:30px; background-color: black; color:white;">Git/GitHub</button><br>
        <br>
        <button style="font-size:30px; background-color: black; color:white;">Python Libraries(Pandas, NumPY, Sci-kit learn, SciPy, Matplotlib, Seaborn)</button><br>
        <br>
        <button style="font-size:30px; background-color: black; color:white;">NLP(TextBlob)</button>
        <button style="font-size:30px; background-color: black; color:white;">Knowledge of MLOps A360 platform</button>
    </div>
</body>

</html>